*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(114, 203, 235);
}
.navbar{
    background-color: black;
    height: 65px;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.home{
    background-color: black;
    color: white;
    border: none;
}
.logo img{
    width: 44px;
    padding: 0 8px;

}
.logo{
    display: flex;
    align-items: centre;
    font-weight: bolder;
    font-size: 1.5rem;
}
/* bottom*/
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    /*display: flex;*/
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;

}
.banner{
    background-image: url('bg.jpg');
    background-size: cover;


}
/*.new-banner{
    background-image: url('bd-bg.png');
    background-size: cover;

}*/
.bottom{
    background-color: rgb(24, 24, 23);
    color: white;
    height: 130px;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.fame{
    position: relative;/* tabse nhi ho raha tha jaise isko div me lya aur fame ka position relative kiya*/
}
.name{
    
    position: absolute;
    bottom: 1px;
    color: white;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
    margin-bottom: 18px;
}
.icons{
    margin-bottom: 8px;
    display: flex;
    gap: 15px;
}
.icons i{
    cursor: pointer;
}
.msg{
    margin: 0px 12px 12px 0;
    display: flex;
    gap: 17px;

}
.previous{
    background-color: rgb(55, 54, 53);
    padding: 3px;
    border-radius: 3px;
    margin-right: 15px;
    opacity: 0;
    
}
.play{
    background-color:  rgb(55, 54, 53);
    padding: 3px;
    border-radius: 3px;
    margin-right: 25px;
    opacity: 0;
    
}
.next{
    background-color:   rgb(55, 54, 53);
    padding: 3px;
    border-radius: 3px;
    opacity: 0;
    
}
/*.fw:hover{
    /* bina div use kiye kuchh likha jaye
}*/
.cover img{
    border-radius: 50%;
    height: 40px;
    padding: 8px;
}
.items{
    display: flex;
    height: 50px;
    width: 30vw;
    gap: 40px;
    justify-content: space-between;/**/
    background-color: white;
    color: black;
    border-radius: 30px;
    align-items: center;
    margin-top: 15px;
}
.tg{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 1px ;
    
    
    
    
}
.tg i{
    height: 10px;
    padding-bottom: 35px;
    cursor: pointer;
}
.gif-img{
    position: absolute;
    left: 10vw;
    top: 0.5vh;
    width: 5rem;
    height: 2rem;
    
    
    
}
.gif{
    margin-bottom: 0;
    display: block;
    
    
}
.hide{
    display: none;
}
.header{
    animation: movingBar 3s linear infinite;
    /*overflow: hidden;*/
    white-space: nowrap;
    /*padding-top: 6px;*/
    display: inline-block;
    

}
@keyframes movingBar{
    0%{
        transform: translateX(40%);
    }
    100%{
        transform: translateX(-10%);
    }
}


